.container {
  margin: auto;
  max-width: 970px;
 }
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 22px;
}

.blackhawks {
	margin: auto;
	position: relative;
	z-index: 0;
}

h1 {
	color: #CE1126;
	font-size: 46px;
	position: absolute;
	top: 14px;
	right: 18px;
}

h2 {
	padding-left: 25px;
	font-size: 28px;
	color: #fff8dc;
	letter-spacing: 1px;
	position: absolute;
	top: 85px;
}

#button-start {
	background-color: #CE1126; 
	border: none;
	font-size: 40px;
	padding: 0 25px 0 25px;
	border-radius: 16px;
	height: 50px;
	cursor: pointer;
	margin-left: 45px;
	position: absolute;
	bottom: 40px;
	top: 160px;
}

#button-start:hover {
	background-color: grey;
}

.btn {
	margin-bottom: 10px;
	margin-top: 500px;
	background-color: #F68428;
	color: black;
	font-weight: 800;
	font-size: 24px;
	border-color: black;
	margin-left: 150px;

}

#show-number {
	text-align: center;
	color: black;
	font-size: 40px;
	align-items: center;

}








